@model IEnumerable<CoffeeConnect.Models.PurchaseListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LbsOfCoffee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </th>
        <th></th>
    </tr>*@
</table>
<div class="PurchaseContainer row">

    @foreach (var item in Model) 
    {
      <div class="col-md-3 purchase-card">


        @Html.DisplayFor(modelItem => item.PurchaseId)
        @Html.DisplayFor(modelItem => item.CustomerId)
        @Html.DisplayFor(modelItem => item.CoffeeId)
        @Html.DisplayFor(modelItem => item.LbsOfCoffee)
        @Html.DisplayFor(modelItem => item.CoffeeName)
        @Html.DisplayFor(modelItem => item.FirstName)
        @Html.DisplayFor(modelItem => item.LastName)
        @Html.DisplayFor(modelItem => item.DateOfPurchase)

        
        <div class="Purchaseedit">


            @Html.ActionLink("Edit", "Edit", new { id = item.PurchaseId }) 
            @Html.ActionLink("Details", "Details", new { id = item.PurchaseId }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.PurchaseId })
        </div>
      </div>

        }
    </div>
    
    
    
    
    
    
    
    
    
    
    
    



