@model IEnumerable<CoffeeConnect.Models.CoffeeListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Coffee</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerPound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoffeeDescription)
        </th>
        <th></th>
    </tr>

</table>*@
<div class="coffeecontainer row">

    @foreach (var item in Model)
    {

        <div class="col-md-3 coffee-card">
            
             @Html.DisplayFor(modelItem => item.CoffeeId)
             @Html.DisplayFor(modelItem => item.CoffeeName)
             @Html.DisplayFor(modelItem => item.PricePerPound)
             @Html.DisplayFor(modelItem => item.CoffeeDescription)
            <div class="EditDeleteDetails">

             @Html.ActionLink("Edit", "Edit", new { id = item.CoffeeId })
             @Html.ActionLink("Details", "Details", new { id = item.CoffeeId })
             @Html.ActionLink("Delete", "Delete", new { id = item.CoffeeId })
             
            </div>

       </div>
    }
</div>












