@model IEnumerable<CoffeeConnect.Models.CustomerListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
</table>*@
<div class="customercontainer row">

    @foreach (var item in Model)
    {
        <div class="col-md-3 customer-card">


            @Html.DisplayFor(modelItem => item.FirstName)


            @Html.DisplayFor(modelItem => item.LastName)

            <div class="CustomerEdit">

                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })

            </div>
        </div>
    }

</div>

